
.filters-list { color: var(--IRIS, #4D5AE5);
    text-align: center;
    /* Button Text */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;

}

.filters-button { background: var(--CLOUD, #F4F4FD);}


.filters-button{
background-color: #4D5AE5;
}


.logo {
    color: var(--IRIS, #4D5AE5);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;

color: var(--NAVY-BLUE, #2E2F42);
 }

 .nav { 
    color: var(--NAVY-BLUE, #2E2F42);

/* Body Medium */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
 }


 /* .link:hover,    .link:focus {    } */